/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
.kontainer {
    width: 600px;
    padding: 30px;
    margin: 20px auto;
    background: rgb(156, 114, 121);
    text-align: center;
}
/* Bredden på Div */
.slidecontainer {
    width: 100%;
    
}
/* Slider */
.slider {
    width: 80%;
    height: 25px;
    background: gray;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    opacity: 0,7;
}
.slider:hover {
    opacity:  1;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
