/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Hela layouten */
body {
    background: url(./bilder/medelhavspaj4.png);
    background-size: 250px;
}
.kontainer {
    width: 960px;
    margin: auto;
    font-family: sans-serif;

}

/* Sidhuvedet */
header {
    color: #fff;
}
header h1 {

}
header h2 {

}
header nav {
    background: linear-gradient(to right, #595959 0%, #e0cccc 100%);
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
}
header ul {

}
header li {
    display: inline;
}
header a {
    text-decoration: none;
    color: #fff;
}

/* Sidans innehall*/
main {
    display: grid;
    grid-template-columns: 650px 280px;
    justify-content: space-between;
}
main .innehall {
    background: #fff;
    border-radius: 5px;
    padding: 20px;

}
main article {

}
main h3 {

}
main figure {

}
main img {
    width: 500px;
}
main figcaption {

}
main p {

}
main a {

}

/* Sidebar */
aside {

}
aside section {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
aside h4 {

}
aside ul {

}
aside li {

}
aside a {

}

/* Sidfoten */
footer {

}
footer p {

}