@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Hela layouten */
body {
    background: url(./bilder/medelhavspaj4.png);
    background-size: 300px;
    background-attachment: fixed;

}
.kontainer {
    width: 100%;
    padding: 20px;
    font-family: sans-serif;
}

/* Sidhuvedet */
header {
    color: #fff;
    grid-area: sidhuvud;
}
header h1 {
    font-family: 'Raleway', sans-serif;
}
header h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
header nav {
    background: linear-gradient(to right, #595959 0%, #e0cccc 100%);
    border-radius: 5px;
    padding: 7px;
    margin: 20px 0;
}
header li {
    display: inline;
    margin: 0 10px;
}
header a {
    text-decoration: none;
    color: #fff;
}
header a:hover {
    color: greenyellow;
}
/* Sidans innehall*/

main .innehall {
    background: rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    padding: 20px;
    grid-area: inehall;

}
main article {
    color: #000;
}
main img {
    width: 100%;
}

main p {
    color: #000;
}


/* Sidebar */
aside {
    grid-area: sidebar;
}
aside section {
    background:  rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}
aside li {
    list-style: none;
}
aside a {
    text-decoration: none;
    color: #000;
}

/* Sidfoten */
footer {
    padding: 20px 0;
}
/* Resposvis layout */
  @media (min-width: 640px) {
    main {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
        grid-template-areas: 
        "innehall sidebar"

    }
} 
@media (min-width: 960px) {
    .kontainer {
        width: 960px;
        padding: 0;
        margin: auto;
        font-family: 'PT Sans', sans-serif;
    }
    main {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 650px 280px;
        justify-content: space-between;
        grid-template-areas: 
        "innehall sidebar"
    } 
}
