@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Hela layouten */
body {
    background: url(./bilder/medelhavspaj4.png);
    background-size: 300px;
    background-attachment: fixed;

}
.kontainer {
    width: 960px;
    margin: auto;
    font-family: sans-serif;
}

/* Sidhuvedet */
header {
    color: #fff;
    grid-area: sidhuvud;
}
header h1 {
    font-family: 'Raleway', sans-serif;
}
header h2 {
    font-family: 'Source Sans Pro', sans-serif;
}
header nav {
    background: linear-gradient(to right, #595959 0%, #e0cccc 100%);
    border-radius: 5px;
    padding: 7px;
    margin: 20px 0;
}
header ul {

}
header li {
    display: inline;
    margin: 0 10px;
}
header a {
    text-decoration: none;
    color: #fff;
}
header a:hover {
    color: greenyellow;
}
/* Sidans innehall*/
main {
    display: grid;
    grid-template-columns: 650px 280px;
    justify-content: space-between;
    grid-template-areas: 
    "inehall sidebar"
}
main .innehall {
    background: rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    padding: 20px;
    grid-area: inehall;

}
main article {
    color: #000;
}
main h3 {

}
main figure {

}
main img {
    width: 500px;
}
main figcaption {

}
main p {
    color: #000;
}
main a {

}

/* Sidebar */
aside {
    grid-area: sidebar;
}
aside section {
    background:  rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 20px;
}
aside h4 {

}
aside ul {

}
aside li {
    list-style: none;
}
aside a {
    text-decoration: none;
    color: #000;
}

/* Sidfoten */
footer {
    grid-area: sidfot;
}
footer p {
    background: rgba(255, 255, 255, 0.562);
    padding: 5px;

}
