body {
background: url(./bilder/Strand.jpg);
font-family: sans-serif;
color: #fff;
background-size: 1920px;
}
h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 150px 0 0 150px;
}
h2 {
    font-size: 40px;
    margin: 50px 0 200px 150px;
}
a {
    color: #fff;
    font-size: 20px;  
    text-transform: uppercase;
    border: 2px solid #fff;
    background: purple;
    text-decoration: none;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    margin-left: 1200px;
}