@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Tangerine');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Sidans utseende */
body {
    background: url("./bilder/dagensblomma.jpg");
    background-size: 3500px;
    background-attachment: fixed;
}
div.kontainer {
    width: 800px;
    padding: 30px;
    color: #fff;
    background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%);
    margin: 30px auto;
    border-radius: 10px;
}
h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px 5px #000;
}
div.ros {
    font-family: 'Tangerine', cursive;
    font-size: 18PX;
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px #000;
}
img.ram {
    width: 400px;
    background: #fff;
    border: 1px solid #000; 
    box-shadow: 3px 3px 5px #fff;
    border-radius: 20px;
}
p {

}
.vanster {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
.hoger {
    float: right;
    margin-left: 30px;
}
hr {
    clear: both;
    visibility: hidden;
}
.textHoger {
    text-align: right;
}
