@import url('https://fonts.googleapis.com/css?family=Denk+One');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
/* prettier-ignore */
*, *:before, *:after {
    box-sizing: inherit;
}
/* prettier-ignore */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Sidans utseende */

body {
    background: url(./bilder/bakgrund.jpg) no-repeat fixed;
    background-size: cover;
}
table {
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
div {
    margin: 100px 0 0 100px;
}
h1 {
    font-family: 'Denk One', sans-serif;
    color: #00a6ad;
    font-size: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #00a6ad;
    letter-spacing: 5px;
    text-align: center;
    width: 550px;
}
h2 {
    color: #00a6ad;
    margin-bottom: 30px;
    font-family: 'Denk One', sans-serif;
}
img {
    border: 20px solid #a9e5e5;
    border-radius: 10px;
    width: 550px;
    margin-bottom: 15px;
}
p {
    background: #a9e5e5;
    padding: 10px;
    border-radius: 10px;
    width: 550px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

th {
    color: #00a6ad;
    border-radius: 5px;
    padding: 20px;
    background: #a9e5e5;
}
td {
    color: #fff;
    border: 2px solid #a9e5e5;
    border-radius: 5px;
    padding: 20px;

}
.farg {
    background-color: #a9e5e5;
    font-family: sans-serif;
    color: #00a6ad;
}
a {
    text-decoration: none;
    color: red;
}